= render 'shared/form_validation'

%section.reset_password.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_tag reset_password_path, id: @token, method: :patch, 'data-js' => 'true' do
        %header
          %h1 Reset Your Password
        %fieldset
          .form-group
            = label_tag :password, 'New Password'
            .row
              .col-sm-6
                = password_field_tag :password, '', required: true, class: 'form-control'
        %fieldset.form-group.action
          = submit_tag 'Reset Password', class: 'btn btn-default'